<a href="https://colab.research.google.com/github/ravilladivyaUNT/Divya_INFO5731_-Spring2022/blob/main/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [20]:
# Your code here
from statistics import mean
import random
r=random.sample(range(1,100),12)
print("Ascending:",sorted(r))
print("Decending:",sorted(r,reverse=True))
print("Average:  ",mean(r))

Ascending: [8, 10, 13, 30, 37, 38, 43, 45, 57, 65, 81, 90]
Decending: [90, 81, 65, 57, 45, 43, 38, 37, 30, 13, 10, 8]
Average:   43.083333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

## 1

In [2]:
s1=str(input())
s2=str(input())

Alas! Am I alive? This is my first python program.
But, alas, the danger was too great and I am a cautious man.

## 2

In [3]:
import re
sen1=re.findall(r"\w+|[^\w\s]",s1)
sen2=re.findall(r"\w+|[^\w\s]",s2)
print(sen1)
print(sen2)

['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program', '.']
['But', ',', 'alas', ',', 'the', 'danger', 'was', 'too', 'great', 'and', 'I', 'am', 'a', 'cautious', 'man', '.']

## 4

In [21]:
# Your code here
import re
sen1=re.sub("[^\w\s]", "", s1)
sen2=re.sub("[^\w\s]","", s2)
sen1=list(sen1.split())
sen2=list(sen2.split())
print(sen1)
print(sen2)

['Alas', 'Am', 'I', 'alive', 'This', 'is', 'my', 'first', 'python', 'program']
['But', 'alas', 'the', 'danger', 'was', 'too', 'great', 'and', 'I', 'am', 'a', 'cautious', 'man']

## 3

In [5]:
sen1=list(map(lambda x: x.lower(), sen1))
sen2=list(map(lambda x: x.lower(), sen2))
set1=set(sen1)
set2=set(sen2)

print(set1&set2)

{'am', 'alas', 'i'}

## 5

In [22]:
S1=s1.lower()
S2=s2.lower()
def vowels(x):
  v=['a','e','i','o','u']
  d={}.fromkeys(v,0)
  a=list(x.strip())
  for i in a:
    if i in d.keys():
      d[i]=d[i]+1
  return d
d1=vowels(S1)
print(d1)
d2=vowels(S2)
print(d2)

{'a': 5, 'e': 1, 'i': 5, 'o': 2, 'u': 0}
{'a': 10, 'e': 3, 'i': 2, 'o': 3, 'u': 3}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [7]:
# Your code here
from math import pi
def sphere(r):
  vol=(4/3)* pi*(r**3)
  print(r,"  ",round(vol,2)) 
r=range(1,11)
for i in r:
  sphere(i)

1    4.19
2    33.51
3    113.1
4    268.08
5    523.6
6    904.78
7    1436.76
8    2144.66
9    3053.63
10    4188.79

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [14]:
import pandas as pd
df=pd.read_csv("Assignment1_denton_housing.csv")
print(df.head())

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

## 1

In [15]:
occ = df.loc[df["title_field"] == "Occupied Housing Units"].sort_values(by="year",ascending=True,ignore_index=True)
print(occ,end="\n\n")
print("Difference in the number of Occupied Housing Units from year to year")
oc=abs(occ["value"].diff(periods=1))
oc=oc.iloc[1:].reset_index(drop=True)
print(oc,end="\n\n")
print("Values in the ascending order")
asc=oc.sort_values(ascending=True)
print(asc)

   year             title_field  value
0  2008  Occupied Housing Units  36711
1  2009  Occupied Housing Units  35916
2  2010  Occupied Housing Units  41007
3  2011  Occupied Housing Units  40704
4  2012  Occupied Housing Units  42108
5  2013  Occupied Housing Units  43673
6  2014  Occupied Housing Units  46295

Difference in the number of Occupied Housing Units from year to year
0     795.0
1    5091.0
2     303.0
3    1404.0
4    1565.0
5    2622.0
Name: value, dtype: float64

Values in the ascending order
2     303.0
0     795.0
3    1404.0
4    1565.0
5    2622.0
1    5091.0
Name: value, dtype: float64

## 2

In [16]:
vac = df.loc[df["title_field"] == "Vacant Housing Units"].sort_values(by="year",ascending=True,ignore_index=True)
print(vac)

   year           title_field  value
0  2008  Vacant Housing Units   4483
1  2009  Vacant Housing Units   3583
2  2010  Vacant Housing Units   3635
3  2011  Vacant Housing Units   4213
4  2012  Vacant Housing Units   3013
5  2013  Vacant Housing Units   4215
6  2014  Vacant Housing Units   2814

In [17]:
l=list(set(sorted(list(df["year"]))))
def percentage(a,b):
  return (a/(a+b))*100
for i in l:
  b=float(occ.loc[occ["year"]== i]["value"])
  a=float(vac.loc[vac["year"]== i]["value"])
  #print(a,b)
  x=percentage(a,b)
  y=percentage(b,a)
  print(i,"  ",round(x,2),"  ",round(y,2))

2008    10.88    89.12
2009    9.07    90.93
2010    8.14    91.86
2011    9.38    90.62
2012    6.68    93.32
2013    8.8    91.2
2014    5.73    94.27

## 3

In [18]:
oh=occ.loc[occ["value"]==occ["value"].max()]
vh=vac.loc[vac["value"]==vac["value"].max()]
print("Vacant Housing Units:    ",int(vh["year"]),int(vh["value"]))
print("Occupied Housing Units:  ",int(oh["year"]),int(oh["value"]))

Vacant Housing Units:     2008 4483
Occupied Housing Units:   2014 46295

## 4

In [19]:
from scipy.stats import hmean
hm=df.loc[df["title_field"] == "Total Housing Units"]["value"]
print(hm)
h=float(hmean(hm, axis=0, dtype=None))
print("Harmonic mean: ",h)

0     49109
3     47888
6     45121
9     44917
12    44642
15    39499
18    41194
Name: value, dtype: int64
Harmonic mean:  44398.28543969185